/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
#header {
    background-image: url("../img/001e.jpg");
    background-repeat: repeat-x;
    height: 90px;
}

#menu-main {
    background-image: url("../img/004.gif");
    height: 30px;
}

a.mostaza {
    color: #BD852D;
    text-decoration: none;
}


#nav {
    margin: 0px;
    padding-top: 5px;
}

#nav ul li {
    display: inline;
    margin: 20px 20px 0 10px;
}
 
#nav a {
    text-decoration: none;
    color: #FFF;
}
 
#nav a:hover {
    text-decoration: underline;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

       @media only screen and (min-width: 960px) {
            #igp-footer {
                clear:both;
                background-image: url("../img/007.jpg");
                background-repeat: repeat-x;
                color: #FFF;
                text-align: center;
                height:70px;
            }
            
            #igp-footer-text {
               line-height:70px;
            }            
            
            #logo-minam-igp {
                padding-top: 20px;
            }
            
            #logo-igp {
                height:90px;
                background-image: url("../img/igp-trans.png");
                background-repeat: no-repeat;
                
            }
            
        }



	/* Smaller than standard 960 (devices and browsers) */
        @media only screen and (max-width: 959px) {
            #igp-footer {
                clear:both;
                background-color: #000;
                color: #FFF;
                text-align: center;
            }

            #login {
                margin-left:10px;
            }
            #filetree {
                margin-left:10px;
            }
        }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/